* {
    margin: 0;
    padding: 0;
}

html {
    --dark: rgb(0, 0, 0);
    --bright: rgb(253, 250, 250);
    --medium: rgb(83, 78, 78);
}

img {
    max-width: 100%;
}

body {
    font-family: sans-serif;
}

/* Header */

header {
    background-color: var(--dark);
    color: var(--bright);
    padding: 1rem;
    text-align: center;
}
header h1, header h2 {
    font-size: 0.85rem;
}
header h2 {
    font-weight: normal;
}

/* Contenido pricipal */
main {
    padding: 1rem;
}
main section {
    margin-bottom: 1rem;
}
main section h3 {
    color: var(--medium);
    border-bottom: 1px solid var(--dark);
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

main section figure , main section p {
    margin-bottom: 1rem;
}

main section form fieldset {
    border: 0; 
    margin-bottom: 1rem;   
}
main section form label {
    display: block;
    font-size: 0.85rem;
    margin-bottom: 0,5rem;
}
main section form input , main section form textarea {
    width: 100%;
    background-color: var(--medium);
    border: 0;
    padding: 0.5rem;
}
main section form button {
    background-color: https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=3F51B5;
    color: var(--bright);
    padding: 0,5rem 2rem;
    border: 0;
}
