form {
    max-width: 800px;
    min-width: 400px;
    margin-right: auto;
    margin-left: auto;
}

form input[required] {
    border: 2px solid red;
}

form fieldset {
    background-color: lightgray;
    padding: 1rem;
}

form fieldset:hover {
    background-color: gray;
}
form fieldset:first-child,
form fieldset:last-of-type {
    border-bottom: 5px solid black;
}

form button {
    background-color: black;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}
