* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --orange: #f2a54a;
    --purple: #7000ff;
    --white: #fff;
    --black: #000;
}

body {
    font-family: Roboto, sans serif;
    background-color: var(--orange);
}

body > header {
    padding: 2rem;
}

body > header h1 {
    text-align: center;
    font-size: 3 rem;
    color: var(--white);
}

body > ul {
    padding: 1 rem;
}

body > ul > li {
    background-color: var(--white);
    margin-bottom: 1rem;
    box-shadow: 0px 0px 10px var(--black);
    transition: 0.5s;
    animation-name: show;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}
body > ul > li:nth-child(1) {
    animation-delay: 2s;
}
body > ul > li:nth-child(2) {
    animation-delay: 4s;
}
body > ul > li:nth-child(3) {
    animation-delay: 6s;
}
body > ul > li:hover {
    transform: scale(1.1);
}

article header {
    padding: 2rem;
}

article header figure {
    text-align: center;
    margin-bottom: 1rem;
}

article header figure img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

article header h2 {
    text-align: center;
    margin-bottom: 1rem;
}

article header ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

article header ul li a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0;
    background-size: 100%;
}
