/* :last-child seria mas correcto */
.lista li:nth-child(6) {
    background-color: rgb(0, 0, 500);
}

.lista li:nth-child(odd) {
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-thickness: 3px;
}

.lista li {
    display: inline;
    margin: 0px 10px;
}

.lista li:nth-child(1)::after {
    content: 'Emoji1';
}
.lista li:nth-child(2)::after {
    content: 'Emoji2';
}
.lista li:nth-child(3)::after {
    content: 'Emoji3';
}
.lista li:nth-child(4)::after {
    content: 'Emoji4';
}
.lista li:nth-child(5)::after {
    content: 'Emoji5';
}
.lista li:nth-child(5)::after {
    content: 'Emoji6';
}

.lista li[lang='en'] {
    font-size: 200%;
    text-transform: uppercase;
}
/* Segunda lista  */

#provincias li {
    list-style-type: upper-roman;
}
#provincias li:nth-child(2) {
    list-style-type: initial;
}
